<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcado Liebre!</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/30f2752d63.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="main-header">
        <div class="logoPrincipal">
            <img src="/images/logo-mercado-liebre.svg" alt="Logo">
        </div>
        <div class="barraDeBusqueda">
            <form action="/registro" method="POST"></form>
            <input class="buscar" type="text" name="buscar"><i class="fas fa-search"></i>
        </div>
        <div class="subtitulo">
            <h2><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
        </div>
    </header>

    <nav class="navegacion">
        <section class="menu1">
            <ul type="none">
                <li>
                    <a href="#">Ofertas</a>
                </li>
                <li>
                    <a href="#">Tiendas oficiales</a>
                </li>
                <li>
                    <a href="#">Vender</a>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                </li>
            </ul>
        </section>

        <section class="menu2">
            <ul type="none">
                <li>
                    <a href="#">Creá tu cuenta<i class="far fa-id-card"></i></a>
                </li>
                <li>
                    <a href="#">Ingresá<i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li>
                    <a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a>
                </li>
            </ul>
        </section>
        <section>
            <article class="burger">
                <i id="burg" class="fas fa-bars"></i>
            </article>
        </section>
    </nav>
    <nav>
        <img class="banner" src="/images/img-home-banner.jpg" alt="Banner">
    </nav>

    <main>
        <h3 class="subtitulo2">Basado en tu última visita</h3>
        <h3 class="subtitulo3">Ofertas</h3>

        <section class="articulos">

            <article class="productos">
                <img src="/images/cafetera.jpg" alt="cafetera" class="foto">
                <i class="fas fa-truck"></i>
                <p class="descripcion">
                    <i class="text1">$6.770 </i><br>
                    <i class="text2">40% off </i><br>
                    <i class="text3">Cafetera Moulinex</i>
                </p>
            </article>
            <article class="productos">
                <img src="/images/macbook.jpg" alt="Macbook" class="foto">
                <i class="camion" class="fas fa-truck"></i>
                <p class="descripcion">
                    <i class="text1">$230.000 </i><br>
                    <i class="text2">20% off </i><br>
                    <i class="text3">MacBook Pro 2019</i>
                </p>
            </article>
            <article class="productos">
                <img src="/images/celu.jpg" alt="celu" class="foto">
                <i class="fas fa-truck" class="camion"></i>
                <p class="descripcion">
                    <i class="text1">$70.500 </i><br>
                    <i class="text2">10% off </i><br>
                    <i class="text3"> Samsung Galaxy S10</i>
                </p>
            </article>
            <article class="productos">
                <img src="/images/tv.jpg" alt="tv" class="foto">
                <i class="fas fa-truck" class="camion"></i>
                <p class="descripcion">
                    <i class="text1">$23.200</i><br>
                    <i class="text2">5% off</i><br>
                    <i class="text3">SmartTv Samsung 43"</i>
                </p>
            </article>
        </section>
    </main>

    <footer>
        <section class="pies">

            <article>
                <i id="log" class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p class="footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
            </article>
            <article>
                <i id="log" class="fas fa-gift"><class="log"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p class="footer">
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                </p>
            </article>
            <article>
                <i id="log" class="fas fa-user-shield"><class="log"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p class="footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
                </p>
            </article>
            <article>
                <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
            </article>

        </section>
    </footer>

</body>

</html>