<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre papá!</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/30f2752d63.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="main-header">
        <div class="LogoBox">
            <img class="LogoP" src="/images/logo-mercado-liebre.svg" alt="Logo">
        </div>
        <div class="barraDeBusqueda">
            <form action="search" method="get"></form>
            <input class="buscar" type="text" name="buscar">
            <button class="lupita" type="submit"><i class="fas fa-search"></i></button>
        </div>
        <div class="subtitBox">
            <h3 class="subtitulo"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</h3>
        </div>
    </header>
    <nav class="navegacion">
        <section class="menu1">
            <ul type="none">
                <li>
                    <a href="#">Ofertas</a>
                </li>
                <li>
                    <a href="#">Tiendas oficiales</a>
                </li>
                <li>
                    <a href="#">Vender</a>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                </li>
            </ul>
        </section>

        <section class="menu2">
            <ul type="none">
                <li>
                    <a href="./register.html">Creá tu cuenta <i class="far fa-id-card"></i></a>
                </li>
                <li>
                    <a href="./login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li>
                    <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
                </li>
            </ul>
        </section>
        <section>
            <article class="burger">
                <i id="burg" class="fas fa-bars"></i>
            </article>
        </section>
    </nav>
    <nav>
        <img class="banner" src="/images/img-home-banner.jpg" alt="Banner">
    </nav>

    <main>
        <h1 class="titulo-form">Registro de Usuario</h1>
        <form id="registro" action="/" method="">
            <input type="text" placeholder="Nombre y apellido"></input></br>
            <input type="text" placeholder="Nombre de usuario" required></input></br>
            <input type="email" placeholder="E-mail" required></input></br></br>
            <label>Fecha de Nacimiento</label>
            <input type="date" placeholder="" required></input><i class="far fa-calendar"></i></br>
            <input type="text" placeholder="Domicilio"></input></br>
            <label>Perfil del Usuario</label></br>
            <input type="radio" name="perfil" value="comprar" requiered>Comprador</input>
            <input type="radio" name="perfil" value="vender" required>Vendedor</input></br></br>
            <label for="interes">Intereses</label></br>
            <input type="checkbox" name="interes" value="Electro">Electro</input></br>
            <input type="checkbox" name="interes" value="Moda">Moda</input></br>
            <input type="checkbox" name="interes" value="Hogar">Hogar</input></br>
            <input type="checkbox" name="interes" value="Juguetería">Juguetería</input></br>
            <input type="checkbox" name="interes" value="Vida Sana">Vida Sana</input></br></br>
            <label>Foto de Perfíl</label>
            <input type="file"></input></br>
            <input type="password" placeholder="Contraseña" required minlength="8"></input></br>
            <input type="password" placeholder="Confirmar Contraseña" required minlength="8"></input></br></br>
            <button type="reset" value="Borrar Todo">Borrar</button>
            <button type="submit" value="Registrar">Enviar</button>
        </form>

    </main>
    <footer>
        <section class="footer">

            <article class="pies">
                <i id="log" class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p class="texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
            </article>
            <article class="pies">
                <i id="log" class="fas fa-gift"><class="log"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p class="texto">
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                </p>
            </article>
            <article class="pies">
                <i id="log" class="fas fa-user-shield"><class="log"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p class="texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
                </p>
            </article>
        </section>
        <section class="Copyright">
            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </section>

    </footer>

</body>

</html>